<%= form_with(model: service, html: {class: "col-md-10"}) do |form| %>
  <% if service.errors.any? %>
    <div style="color: red">
      <ul style="list-style: none">
        <% service.errors.each do |error| %>
          <li>
            <%= error.full_message %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <label class="form-label"><strong>Service name</strong></label>
    <%= form.text_field :name, class: "form-control mb-3", placeholder: "Enter name of service" %>
  </div>
  <div class="mb-3">
    <label class="form-label"><strong>Price</strong></label>
    <div class="input-group">
      <span class="input-group-text">VNĐ</span>
      <%= form.text_field :price, class: "form-control", placeholder: 100000 %>
      <span class="input-group-text">.00</span>
    </div>
  </div>
  <div class="mb-3">
    <label class="form-label"><strong>Description</strong></label>
    <%= form.text_area :description, class: "form-control", placeholder: "Describe a service..." %>
  </div>

  <div>
    <%= form.submit nil, class: "btn btn-primary" %>
  </div>
<% end %>