<p style="color: green"><%= notice %></p>

<div class="d-flex justify-content-between align-items-center">
  <h4 class="fw-bold py-3 mb-4">Services</h4>
  <%= link_to "New service", new_service_path, data: { turbo_frame: "second_frame" }, class: "btn btn-sm btn-outline-primary" %>
</div>

<%= search_form_for @search, url: services_path do |f| %>
  <div class="row gy-3 mb-3 align-items-center">
    <div class="col-lg-4 col-md-6">
      <div class="input-group">
        <span class="input-group-text"><i class="tf-icons bi bi-search"></i></span>
        <%= f.text_field :name_or_description_cont, class: "form-control", placeholder: "Search..." %>
        <%= f.submit "Search", class: "btn btn-primary" %>
      </div>
    </div>
    <div class="col-lg-2 col-md-3">
      <%= f.select :status_eq, options_for_select(status_collection, @search.status_eq), {}, { onchange: "this.form.submit()", class: "form-select" } %>
    </div>
  </div>
<% end %>

<%== render partial: 'pagy/pagination', locals: { pagy: @pagy } %>

<div class="card">
  <div class="table-responsive text-nowrap">
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Price</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
      </thead>
        <tbody class="table-border-bottom-0">
            <%= render @services %>
        </tbody>
    </table>
  </div>
</div>

