<p style="color: green"><%= notice %></p>

<div class="d-flex justify-content-between align-items-center">
  <h4 class="fw-bold py-3 mb-4">Physicians</h4>
  <%= link_to "New physician", new_physician_path, class: "btn btn-sm btn-outline-primary" %>
</div>

<%= search_form_for @search, url: physicians_path do |f| %>
  <div class="row gy-3 mb-3 align-items-center">
    <div class="col-lg-4 col-md-6">
      <div class="input-group">
        <span class="input-group-text"><i class="tf-icons bi bi-search"></i></span>
        <%= f.text_field :speciality_or_user_name_or_user_email_or_user_phone_cont, class: "form-control", placeholder: "Search..." %>
        <%= f.submit "Search", class: "btn btn-primary" %>
      </div>
    </div>
  </div>
<% end %>

<%== render partial: 'pagy/pagination', locals: { pagy: @pagy } %>

<div class="card">
  <div class="table-responsive text-nowrap">
    <table class="table">
      <thead>
        <tr>
          <th></th>
          <th>Name</th>
          <th>Phone</th>
          <th>Speciality</th>
          <th>Degree</th>
          <th>Rate</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody class="table-border-bottom-0">
        <%= render @physicians %>
      </tbody>
    </table>
  </div>
</div>