<p style="color: green"><%= notice %></p>

<div style="display: flex; justify-content: space-between; align-items: center">
  <h4 class="fw-bold py-3 mb-4">Physicians</h4>
  <%= link_to "New physician", new_physician_path, class: "btn btn-sm btn-outline-primary" %>
</div>

<div class="card">
  <%= form_with url: physicians_path, method: :get do |form| %>
    <div class="input-group">
      <span class="input-group-text"><i class="tf-icons bi bi-search"></i></span>
      <%= form.text_field :keyword, class: "form-control", placeholder: "Search..." %>
      <%= form.submit "Search", class: "btn btn-primary" %>
    </div>
  <% end %>
  <br>
  <div class="table-responsive text-nowrap">
    <table class="table">
      <thead>
        <tr>
          <th></th>
          <th>Name</th>
          <th>Speciality</th>
          <th>About</th>
          <th>Rate</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody class="table-border-bottom-0">
        <% @physicians.each do |physician| %>
          <%= render physician %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>