<p style="color: green"><%= notice %></p>

<div style="display: flex; justify-content: space-between; align-items: center">
  <h4 class="fw-bold py-3 mb-4">Physicians</h4>
  <%= link_to "New physician", new_physician_path, class: "btn btn-sm btn-outline-primary" %>
</div>

<%# <div id="physicians"> %>
  <%# <% @physicians.each do |physician| %>
    <%# <%= render physician %>
    <%# <p> %>
      <%# <%= link_to "Show this physician", physician %>
    <%# </p> %>
  <%# <% end %>
<%# </div> %>

<div class="card">
  <div class="table-responsive text-nowrap">
    <table class="table">
      <thead>
        <tr>
          <th></th>
          <th>Name</th>
          <th>Speciality</th>
          <th>About</th>
          <th>Rate</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody class="table-border-bottom-0">
        <% @physicians.each do |physician| %>
          <%= render physician %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>