<div id="<%= dom_id patient %>">
  <tr class="table-secondary">
    <td><strong><%= patient.user.name %></strong></td>
    <td><%= patient.user.email %></td>
    <td><%= patient.user.phone %></td>
    <td><%= patient.address %></td>
    <td><%= last_visit(patient) %></td>
    <td><span class="badge rounded-pill bg-<%= lock_badge_class(patient.user.access_locked?) %>"><%= patient.user.access_locked? ? "Banned" : "Active" %></span></td>
    <td>
      <div class="dropdown">
        <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
          <i class="bi bi-three-dots-vertical"></i>
        </button>
        <div class="dropdown-menu">
          <%= link_to patient_path(patient), class: "dropdown-item" do %>
            <i class="bi bi-info-circle me-1"></i> Details
          <% end %>
          <%= link_to edit_patient_path(patient), class: "dropdown-item" do %>
            <i class="bi bi-pencil-square me-1"></i> Edit
          <% end %>
          <%= button_to patient, method: :delete, class: "dropdown-item" do %>
            <i class="bi bi-trash me-1"></i> Delete
          <% end %>
        </div>
      </div>
    </td>
  </tr>
</div>
