<p style="color: green"><%= notice %></p>

<div class="d-flex justify-content-between align-items-center">
  <h4 class="fw-bold py-3 mb-4">Patients</h4>
  <%= link_to "New patients", new_patient_path, class: "btn btn-sm btn-outline-primary" %>
</div>

<%= search_form_for @search, url: patients_path, method: :get do |f| %>
  <div class="row gy-3 mb-3 align-items-center">
    <div class="col-lg-4 col-md-6">
      <div class="input-group">
        <span class="input-group-text"><i class="tf-icons bi bi-search"></i></span>
        <%= f.text_field :user_name_or_user_email_or_user_phone_or_address_cont, class: "form-control", placeholder: "Search..." %>
        <%= f.submit "Search", class: "btn btn-primary" %>
      </div>
    </div>
    <div class="col-lg-2 col-md-3">
      <%=  %>
    </div>
  </div>
<% end %>
<br>

<%== render partial: 'pagy/pagination', locals: { pagy: @pagy } %>

<div class="card">
  <div class="table-responsive text-nowrap">
    <table class="table">
      <thead>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Address</th>
        <th>Last visit</th>
        <th>Status</th>
        <th>Actions</th>
      </thead>
      <tbody class="table-border-bottom-0">
        <% @patients.each do |patient| %>
          <%= render patient %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
