<div class="row gy-3" style="height: 100%">
  <div class="col-lg-9 col-md-12" style="position: relative">
    <% if @room %>
      <div class="card mb-4" style="overflow-y: scroll; height: 800px">
        <div class="d-flex justify-content-between align-items-center">
          <h4 class="fw-bold py-3 mb-4"># <%= @room.name %> </h4>
          <i class="bi bi-headset"></i>
        </div>
        <%= turbo_frame_tag "room" do %>
          <%= render @room.messages %>
        <% end %>
      </div>
      <%= render 'new_message' %>
    <% end %>
  </div>
  <div class="col-lg-3 col-md-6">
    <div class="card accordion-item">
      <div class="card accordion-item active">
        <h2 class="accordion-header" id="headingOne">
          <button
            type="button"
            class="accordion-button"
            data-bs-toggle="collapse"
            data-bs-target="#accordionOne"
            aria-expanded="true"
            aria-controls="accordionOne"
          >
            <strong>Channels</strong>
          </button>
        </h2>
        <div
          id="accordionOne"
          class="accordion-collapse collapse show"
          data-bs-parent="#accordionExample"
        >
          <div class="accordion-body">
            <%= turbo_stream_from "rooms" %>
            <%= turbo_frame_tag "rooms" do %>
              <%= render @public_rooms %>
            <% end %>
          </div>
          <%= turbo_frame_tag Room.new %>
          <%= link_to new_room_path, class: "btn w-100 text-start", data: { turbo_frame: dom_id(Room.new) } do %>
            <span class="tf-icons bi bi-plus-lg me-2"></span>Add channel
          <% end %>
        </div>
      </div>
      <div class="card accordion-item">
        <h2 class="accordion-header" id="headingTwo">
          <button
            type="button"
            class="accordion-button collapsed"
            data-bs-toggle="collapse" 
            data-bs-target="#accordionTwo"
            aria-expanded="false"
            aria-controls="accordionTwo"
          >
            <strong>Direct Messages</strong>
          </button>
        </h2>
        <div
          id="accordionTwo"
          class="accordion-collapse collapse"
          aria-labelledby="headingTwo" 
          data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <% @users.each do |user| %>
              <p><%= user.name %><p>
            <% end %>
          </div>
          <button type="button" class="btn w-100 text-start">
            <span class="tf-icons bi bi-plus-lg me-2"></span>&nbsp;&nbsp;&nbsp;Start a new message
          </button>
        </div>
      </div>
    </div>
  </div>
</div>