<p style="color: green">
  <%= notice %>
</p>

<div class="row mb-5">
  <div class="col-md">
    <div class="d-flex justify-content-between" style="align-items: center">
      <h6 class="mt-2 text-muted">Appointment infomations</h6>
      <span class="badge rounded-pill bg-<%= badge_class(@appointment.state) %>">
        <%= @appointment.state %>
      </span>
    </div>
    <div class="card-subtitle mb-3"><strong>Service</strong>: <%= @appointment.service.name %></div>
    <figure>
      <blockquote>
        <p class="card-text"><strong>Patient</strong>: <%= @appointment.patient.user.name %></p>
      </blockquote>
      <figcaption class="blockquote-footer">
        <%= link_to patient_path(@appointment.patient), class: "card-link" do %>
          <small>View appointments history this person</small>
        <% end %>
      </figcaption>
    </figure>
    <div class="row">
      <div class="col-md input-group input-group-merge align-items-center">
        <label class="me-2"><strong>Date</strong>:</label>
        <small class="me-2"><%= @appointment.schedule.strftime("%d-%m-%Y") %></small>
        <i class="bi bi-calendar"></i>
      </div>
      <div class="col-md input-group input-group-merge align-items-center">
        <label class="me-2"><strong>Time</strong>:</label>
        <small class="me-2"><%= @appointment.schedule.strftime("%H:%M") %></small>
        <i class="bi bi-clock"></i>
      </div>
    </div>
    <label class="col-sm-2"><strong>Note</strong></label>
    <div>
      <div class="input-group input-group-merge">
        <span class="input-group-text"><i class="bi bi-chat-left-dots"></i></span>
        <textarea class="form-control" disabled></textarea>
      </div>
    </div>
    <dl class="row mt-2">
      <dt class="col-sm-3">Diagnose</dt>
      <dd class="col-sm-9">
        <p><%= @appointment.diagnose %></p>
      </dd>
    </dl>
    <label class="col-sm-2"><strong>Comment</strong></label>
    <div>
      <div class="input-group input-group-merge">
        <span class="input-group-text"><i class="bi bi-chat-left-dots"></i></span>
        <textarea class="form-control" disabled></textarea>
      </div>
    </div>
    <dl class="row mt-2">
      <dt class="col-sm-3">Rate</dt>
      <dd class="col-sm-9">
        <span>
          <small class="me-2"><strong><%= @appointment.rate ? @appointment.rate : 'N/A' %></strong></small>
          <i class="bi bi-star" style="-webkit-text-stroke: 1px; color: #ee9b00"></i>
        </span>
      </dd>
    </dl>
  </div>
  <div class="col-md">
    <h6 class="mt-2 text-muted">Physician</h6>
    <div class="card">
      <%= image_tag @appointment.physician.image, { class: "card-img-top" } if @appointment.physician.image.attached? %>
      <div class="card-body row">
        <div class="col-md">
          <h5 class="card-title">
            <%= @appointment.physician.user.name %>
          </h5>
          <small>
            <%= @appointment.physician.degree %>
          </small>
        </div>
        <div class="col-md text-end">
          <div>
            <small>
              <%= number_to_phone_vi(@appointment.physician.user.phone) %>
            </small>
          </div>
          <span>
            <small>
              <strong><%= rate(@appointment.physician) ? rate(@appointment.physician) : 'N/A' %></strong>
            </small>
            <i class="bi bi-star me-2" style="-webkit-text-stroke: 1px; color: #ee9b00"></i>
          </span>
        </div>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <%= @appointment.physician.education %>
        </li>
        <li class="list-group-item">
          <%= @appointment.physician.speciality %>
        </li>
      </ul>
      <div class="card-body">
        <%= link_to "View this physician" , physician_path(@appointment.physician) %>
      </div>
    </div>
  </div>
</div>

<div class="d-flex justify-content-between">
  <div>
    <%= button_to "Destroy this appointment" , @appointment, method: :delete, class: "btn btn-danger" %>
  </div>
  <div>
    <%= link_to "Edit this appointment" , edit_appointment_path(@appointment) %> |
    <%= link_to "Back to appointments" , appointments_path %>
  </div>
</div>